<ion-content>

<ion-grid fixed class="grid-bg" style="height: 100%;">
  <ion-row>
    <ion-toolbar mode="ios" style="--background : transparent;">
      <ion-title class="ion-text-capitalize">
        <span style="color: white;">{{strings.ST29}}</span>
      </ion-title>
      <ion-buttons slot="start">
        <ion-button mode="md" (click)="goClosePage()" slot="start" style="--color : white;">
          <!-- <ion-icon name="arrow-back-outline" color="white"></ion-icon> -->
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size="8" class="ion-text-center">
        <!-- <img src="./assets/images/logo.png" class="start-logo"/> -->
  
        <form class="form" autocomplete="off" [formGroup]="validationsform" (ngSubmit)="tryRestPass(validationsform.value)">
            <ion-list class="line-input" mode="md"> 
                <ion-item mode="md">
                    <ion-icon name="md-mail" size="small" slot="start"></ion-icon>
              <ion-input class="ion-text-left" placeholder="Email" type="email" formControlName="email"></ion-input>
                </ion-item> 
              </ion-list>
            <ion-button class="button-h" mode="ios" type="submit" [disabled]="!validationsform.valid" color="primary" fill="solid" size="default" shape="round" expand="block">
              {{strings.ST28}}
            </ion-button>
          </form>

          <p class="go-to-restpass">
              <a (click)="goClosePage()">{{strings.ST35}}</a>
            </p>
  
      </ion-col>
    </ion-row>
  
  </ion-grid>

</ion-content>
