<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios">
      <ion-title class="ion-text-capitalize">
        {{strings.ST1}}
      </ion-title>
            <ion-buttons slot="start">
              <app-backbutton color="dark"></app-backbutton>
            </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fixed>
  <app-loading *ngIf="isLoading"></app-loading>
  <ion-grid>
    <ion-row >
      <ion-col [routerLink]="['/adult']" size="12" *ngFor="let item of videoMainCategories" [ngStyle]="{'height': height}">
        <div class="card-center-image" [style.background-image]="'url(' + (item.category_image | image) + ')'">
          <div class="card-center-bg">
            <div class="card-center-text">
              <p class="title">{{item.category_title}}</p>
            </div>
          </div>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>