<ion-header class="darkheader" mode="ios" no-border>
    <ion-toolbar mode="ios" style="--background : #dd0024;">
        <ion-buttons slot="start">
          <app-backbutton color="light"></app-backbutton>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">
          Change Password
        </ion-title>        
        <!-- <ion-buttons slot="end">
          <ion-icon mode="md" name="exit" slot="end">
          </ion-icon>
        </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
  
<ion-content class="ion-padding">

<!-- <ion-grid class="ion-no-padding">
  <ion-row class="header-bg" [ngStyle]="{'height': innerHeight}">
    <div class="text">
    <p class="name">{{name}}</p>
    <p class="since">{{strings.ST65}} {{since | timeAgo}}</p>
  </div>
  </ion-row>
</ion-grid> -->

    <ion-list>
    <ion-item>
      <!-- <ion-label position="stacked">{{strings.ST78}}</ion-label> -->
      <ion-input type="text" [(ngModel)]="new_pwd" placeholder="New Password" type="password" style="--padding-start: 10px; margin-top : 20px;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" [(ngModel)]="confirm_pwd" placeholder="Confirm Password" type="password" style="--padding-start: 10px;"></ion-input>
    </ion-item>
<!-- 
    <ion-item>
      <ion-textarea formControlName="message" rows="6" cols="20" placeholder="Message" style="--padding-start: 10px;"></ion-textarea>
    </ion-item> -->

    <app-loading *ngIf="isLoading"></app-loading>

    <ion-button color="primary"  expand="block" mode="ios" (click)="updatePassword()">
      Update
    </ion-button>
  </ion-list>

</ion-content>
