<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" style="--background : #dd0024;">
    <ion-title class="ion-text-capitalize">
      <span style="color: white;">{{strings.ST5}}</span>
    </ion-title>
    <ion-buttons slot="start">
      <app-backbutton color="dark"></app-backbutton>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openNotifications()">
        <ion-icon name="notifications-outline" style="font-size: 32px; color: white;"></ion-icon>
        <div *ngIf="unreadNotificationCount > 0">
          <ion-badge color="primary" style="margin-left: -15px; margin-top: -10px; font-size: 12px; border-radius: 20px;">{{unreadNotificationCount}}</ion-badge>
        </div>
     </ion-button>
    </ion-buttons>        
  </ion-toolbar>
  </ion-header>


<ion-content>

  <app-loading *ngIf="isLoading"></app-loading>

  <ion-slides *ngIf="!isLoading" [options]="slideOpts" mode="ios">
      <ion-slide class="slide" *ngFor="let quote of quotes">
        <ion-card mode="ios" class="card">
          <ion-grid>
          <ion-row style="height: 20%;">
            <ion-col style="text-align: right; align-self: center;">
              <img src="./assets/icon/quote.png" style="width: 150px; height: 150px;">
            </ion-col>
            
          </ion-row>
          <ion-row  style="height: 60%;">
            <ion-col style="align-self: center;">
              <h1>{{quote.quote_title}}</h1>
            </ion-col>
            
          </ion-row>
          <ion-row  style="height: 20%; ">
            <ion-col>
            </ion-col>
            
          </ion-row>          
        </ion-grid>
        </ion-card>
      </ion-slide>
    </ion-slides>

</ion-content>
