.row-header-bg{
    background-image: url('../../../assets/images/header.jpg');
    background-size: cover;
    background-position: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%/3);
    background-color: rgba($color: #000000, $alpha: 0.8);
}
.header-md:after{
    display: none !important;
}

.col-header-logo{
max-width: 200px;
}


.menu-cols ion-col{
text-align: center;
//padding: 20px 10px;
}

.menu-cols ion-col img{
    max-width: 55px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;
};

.menu-cols ion-label{
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 600;
}

ion-row{
    align-items: center;
    justify-content: center;
}