<ion-header class="darkheader">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="openMenu()">
              <ion-icon name="menu-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #dd0024;">
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center row-header-bg" [ngStyle]="{'height': innerHeight}">
        <ion-col size="12" class="ion-overlay-center" style="text-align: center;">
          <img src="./assets/images/logo.png" class="col-header-logo">
        </ion-col>
      </ion-row>
    </ion-grid>   
    <ion-grid>
      <ion-row class="menu-cols align-items-center" [ngStyle]="{'height': menuHeight}">
          <ion-col size="6" [routerLink]="['/first']" >
            <img src="./assets/images/workouts.png">
            <span style="color: white;">{{strings.ST1}}</span>
          </ion-col>

          <ion-col size="6" (click)="openWithSystemBrowser('https://www.vxpower.com/')">
              <img src="./assets/images/exercises.png">
              <span style="color: white;">{{strings.ST2}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="menu-cols align-items-center" [ngStyle]="{'height': menuHeight}">
          <ion-col size="6" [routerLink]="['/diets']">
              <img src="./assets/images/diets.png">
              <span style="color: white;">{{strings.ST3}}</span>
          </ion-col>
            
          <ion-col size="6" [routerLink]="['/motivation']">
              <img src="./assets/images/blog.png">
              <span style="color: white;">{{strings.ST5}}</span>
          </ion-col>

        </ion-row>
        <ion-row class="menu-cols align-items-center" [ngStyle]="{'height': menuHeight}">
          <ion-col size="6" [routerLink]="['/calculator']">
            <img src="./assets/images/calculator.png">
            <span style="color: white;">{{strings.ST105}}</span>
          </ion-col>
          
          <ion-col size="6" [routerLink]="['/contact']">
            <img src="./assets/images/quotes.png">
            <span style="color: white;">{{strings.ST7}}</span>
          </ion-col> 
        </ion-row>                


  
  
    </ion-grid>
  
  </ion-content>
  