ion-grid {
    //  height: 100%;
    //  display: flex;
    //  flex-direction: row;
    padding-inline-start: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-inline-end: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-top: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-bottom: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    // ion-row {
    //     flex-grow: 1;
    // }
    ion-col{
        padding-inline-start: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
         padding-inline-end: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
         padding-top: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
        padding-bottom: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 0px));
    }
}