<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" style="--background : #dd0024;">
    <ion-title class="ion-text-capitalize">
      <span style="color: white;">{{strings.ST147}}</span>
    </ion-title>
    <ion-buttons slot="start">
      <app-backbutton color="dark"></app-backbutton>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row *ngFor="let item of videolist" (click)="playVideo(item)"  [ngStyle]="{'height': height}">
      <ion-col size="12">
        <div class="card-center-image" [style.background-image]="'url(' + (item.video_image | image) + ')'">
          <div class="card-center-bg">
            <div class="card-center-text">
              <p class="title">{{item.video_title}}</p>
            </div>
          </div>
        </div>
        
      </ion-col>
    </ion-row>    
  </ion-grid>  
</ion-content>
