<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios">
      <ion-title class="ion-text-capitalize">
        {{title}}
      </ion-title>
            <ion-buttons slot="start">
              <app-backbutton color="dark"></app-backbutton>
            </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading *ngIf="isLoading"></app-loading>

  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let item of subcategories" [routerLink]="['/videolist', item.subcategory_id, item.subcategory_title]"  size="12"  [ngStyle]="{'height': height}">
        <div class="card-center-image" [style.background-image]="'url(' + (item.subcategory_image | image) + ')'">
          <div class="card-center-bg">
            <div class="card-center-text">
              <p class="title">{{item.subcategory_title}}</p>
              <p class="subtitle">{{item.sub_title}}</p>
            </div>
          </div>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
