
<ion-header class="lightheader" no-border>
  <ion-toolbar mode="ios" style="--background : #dd0024;">
    <ion-title class="ion-text-capitalize">
      <span style="color: white;">{{strings.ST3}}</span>
    </ion-title>
    <ion-buttons slot="start">
      <app-backbutton color="dark"></app-backbutton>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openNotifications()">
        <ion-icon name="notifications-outline" style="font-size: 32px; color: white;"></ion-icon>
        <div *ngIf="unreadNotificationCount > 0">
          <ion-badge color="primary" style="margin-left: -15px; margin-top: -10px; font-size: 12px; border-radius: 20px;">{{unreadNotificationCount}}</ion-badge>
        </div>
     </ion-button>
    </ion-buttons>        
  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding">

  <app-loading *ngIf="isLoading"></app-loading>


 <ion-grid>
  <ion-row *ngFor="let item of categories" [routerLink]="['/cdiets', item.category_id, item.category_title]" [ngStyle]="{'height': rowHeight}">
    <ion-col size="12">
      <div class="card-center-image" [style.background-image]="'url(' + (item.category_image | image) + ')'">
        <div class="card-center-bg">
          <div class="card-center-text">
            <p class="title">{{item.category_title}}</p>
          </div>
        </div>
      </div>
      
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
