
<ion-header *ngIf="!isLoading" class="darkheader" mode="ios" no-border>
    <ion-toolbar mode="ios">
        <ion-title class="ion-text-capitalize">
            {{strings.ST3}}
          </ion-title>
        <ion-buttons slot="start">
          <app-backbutton color="light"></app-backbutton>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="openNotifications()">
            <ion-icon name="notifications-outline" style="font-size: 32px;"></ion-icon>
            <div *ngIf="unreadNotificationCount > 0">
              <ion-badge color="danger" style="margin-left: -15px; margin-top: -10px; font-size: 12px; border-radius: 20px;">{{unreadNotificationCount}}</ion-badge>
            </div>
         </ion-button>
        </ion-buttons>
    </ion-toolbar>
    
  </ion-header>

<div>
  <ion-slides *ngIf="isReady" [options]="slideOpts"  #featuredProductSlider mode="ios" [ngStyle]="{'height': slider_height}">
    <ion-slide *ngFor="let item of diets" [routerLink]="['/ddetails', item.diet_id]" >
      <div class="card" [ngStyle]="{'height': slider_height}" [style.background-image]="'url(' + (item.diet_image | image) + ')'">
        <div class="overlay" [ngStyle]="{'height': slider_height}">
        <div class="texts">
        <p>{{item.category_title}}</p>
        <h1>{{item.diet_title}}</h1>
        </div>
      </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-list style="margin: 0; padding: 0; height: 40px;" >
    <ion-list-header style="--background: #dd0024; height: 40px;">
      <ion-label style="color : white;font-weight: bold; letter-spacing: 0; text-align: center;">{{strings.ST41}}</ion-label>
    </ion-list-header>
  </ion-list>
</div>
<ion-content class="ion-no-padding">

  <app-loading *ngIf="isLoading"></app-loading>


 <ion-grid>
  <ion-row *ngFor="let item of categories" [routerLink]="['/cdiets', item.category_id, item.category_title]" [ngStyle]="{'height': rowHeight}">
    <ion-col size="12">
      <div class="card-center-image" [style.background-image]="'url(' + (item.category_image | image) + ')'">
        <div class="card-center-bg">
          <div class="card-center-text">
            <p class="title">{{item.category_title}}</p>
          </div>
        </div>
      </div>
      
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
